*{
  box-sizing: border-box;
}

html{
  /*background-color: black;*/
  margin: auto;
}

h3{
  color: blue;
  float: left;
}

header{
  background-color: yellow;
  width:97%;
  /*height: 50%;*/
  padding: 10px 0px 1px 0px;
  position: fixed;
  top: 0;
}

#search{
  float: right ;
  height: 25px;
  width: 140px;
  margin-top: 20px;
  border-radius: 10px;
}


/*nav{
  float: right;
}

.navlink{
  display: flex;
  text-decoration: none;
}
*/

.option{
  margin-top: 70px;
 /* background-color: blue;*/
 /* display: table;*/
 padding: 10px 0px 10px 0px;
}

ul{
  display: flex;
  gap: 12px;
}

li{
  border: 2px solid black;
  height: 30px;
  border-radius: 8px;
  list-style: none;
  text-align: center;
  padding-top: 4px;
  background-color: pink;
}

  li:hover{
  background-color: blue;
}

li a:hover{
  color: white;
}

a{
  text-decoration: none;
  color: green;
}

.column img{
  border: 2px solid blue;
  margin: 4px;
  border-radius: 13px;
  transition: 2.s;
}

/*img:hover{
  border: 5px solid red;
  scale: 2;
}*/

.row{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*img{
  width: 100%;l
  height: auto;
  padding: 5px;
}


.row{
  display: flex ;
}*/

footer{
  text-align: center;
}